node_modules/
dist/
release/
dist-electron/
.env
.env.*
backend/.env
backend/.env.*
*.dmg
*.exe
*.zip

backend/.venv/
backend/*.db
backend/__pycache__/
backend/google_credentials.json
backend/firebase_service_account.json

google_credentials.json
google_token.json
backend/google_credentials.json
backend/google_token.json
firebase_service_account.json
